{% extends 'tasks/base.html' %}

{% block title %}Задачи{% endblock %}

{% block content %}

<h3>Мои задачи</h3>

<form method="post" action="{% url 'tasks:add' %}" class="mb-3">
    {% csrf_token %}
    <input type="text" name="title" class="form-control mb-2" placeholder="Название задачи">
    <textarea name="description" class="form-control mb-2" placeholder="Описание"></textarea>
    <button class="btn btn-primary">Добавить</button>
</form>

<ul class="list-group">
    {% for task in tasks %}
        <li class="list-group-item d-flex justify-content-between align-items-center">

            <div>
                <strong>
                    {% if task.completed %}✔{% else %}⏳{% endif %}
                </strong>

                {{ task.title }}

                <br>

                <small class="text-muted">
                    {{ task.created_at|date:"d.m.Y H:i" }}
                </small>
            </div>

            <div>
                <a href="{% url 'tasks:toggle' task.id %}" class="btn btn-sm btn-warning">✔</a>
                <a href="{% url 'tasks:delete' task.id %}" class="btn btn-sm btn-danger">✖</a>
            </div>

        </li>
    {% empty %}
        <li class="list-group-item">Нет задач</li>
    {% endfor %}
</ul>

{% endblock %}